@media (min-width: 768px) and (max-width: 1139px) {
    .nav {
        top: 80px;
    }

    .center {
        padding-left: calc(50% - $siteWidthLaptop / 2 + 16px);
        padding-right: calc(50% - $siteWidthLaptop / 2 + 16px);
    }

    .marketing {
        justify-content: flex-end;
        gap: 40px;

        &__img {
            max-width: calc($siteWidthLaptop / 2);
        }

        &__info {
            &__title {
                font-size: 44px;
            }

            &__subtitle {
                font-size: 24px;
            }
        }
    }

    .offer {
        padding-top: $gapLaptop;
        padding-bottom: 154px;

        &__items {
            gap: $gapLaptop;

            &_small {
                gap: $gapLaptop;
            }
        }

        &__subtitle {
            font-size: 16px;
        }

        &__title {
            font-size: 24px;
        }
    }

    .featured {
        padding-bottom: 64px;

        &__product {
            width: calc(($siteWidthLaptop - $gapLaptop * 2) / 2 - 16px);
        }

        &__grid {
            padding-top: 73px;
            padding-bottom: 32px;
        }
    }

    .benefits {
        padding-top: 48px;
        padding-bottom: 64px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 48px;
    }

    .subscribe {
        flex-direction: column;
        padding-top: 54px;
        padding-bottom: 140px;
        background-position: 22%;
        gap: 80px;
    }
}

@media(max-width: 767px) {
    .nav {
        top: 80px;
    }

    .center {
        padding-left: calc(50% - $siteWidthMobile / 2 + 16px);
        padding-right: calc(50% - $siteWidthMobile / 2 + 16px);
    }

    .mobile__hide {
        display: none;
    }

    .marketing {
        padding-top: 148px;
        padding-bottom: 148px;
        justify-content: center;

        &__img {
            display: none;
        }

        &__info {
            &__title {
                font-size: 38px;
            }

            &__subtitle {
                font-size: 20px;
            }
        }
    }

    .offer {
        padding-bottom: 64px;

        &__items {
            &_small {
                flex-direction: column;
                gap: $gapMobile;
            }
        }

        &__item {
            width: calc(($siteWidthMobile - $gapMobile));
        }

    }

    .featured {
        padding-bottom: 96px;

        &__grid {
            padding-top: 64px;
            padding-bottom: 40px;
            gap: 16px;
        }

        &__product {
            width: calc(($siteWidthMobile - $gapMobile));
        }
    }

    .benefits {
        padding-bottom: 81px;
        flex-direction: column;
        align-items: center;

        &__item {
            width: calc(($siteWidthMobile - $gapMobile));
        }
    }

    .subscribe {
        padding-bottom: 110px;
        flex-direction: column;
        gap: 59px;
    }

    .testimonial,
    .subscribe__form {
        width: calc($siteWidthMobile - $gapMobile);
    }

    .testimonial {
        &__quote {
            font-size: 18px;
        }
    }

    .subscribe {
        background-position: 10%;

        &__form {
            &__description {
                font-size: 14px;
            }

            &__button {
                padding: 17px;
            }
        }
    }

    .footer {
        flex-direction: column-reverse;
        padding-top: 43px;
        gap: 40px;
    }
}