@media (min-width: 768px) and (max-width: 1139px) {
    .nav {
        top: 80px;
    }

    .center {
        padding-left: calc(50% - $siteWidthLaptop / 2 + 16px);
        padding-right: calc(50% - $siteWidthLaptop / 2 + 16px);
    }

    .marketing {
        justify-content: flex-end;
        gap: 40px;

        &__img {
            max-width: calc($siteWidthLaptop / 2);
        }

        &__info {
            &__title {
                font-size: 44px;
            }

            &__subtitle {
                font-size: 24px;
            }
        }
    }

    .offer {
        padding-top: $gapLaptop;
        padding-bottom: 154px;

        &__items {
            gap: $gapLaptop;

            &_small {
                gap: $gapLaptop;
            }
        }

        &__subtitle {
            font-size: 16px;
        }

        &__title {
            font-size: 24px;
        }
    }

    .filter-sort{
        height: 81px;
        padding-top: 24px;
    }

    .featured {
        padding-bottom: 64px;

        &__product {
            width: calc(($siteWidthLaptop - $gapLaptop * 2) / 2 - 16px);
        }

        &__grid {
            padding-bottom: 32px;
        }
    }

    .shopping-cart {
        flex-direction: column;
        align-items: center;
        gap: 64px;

        &__buttons {
            width: 100%;
            max-width: 100%;
            justify-content: center;
            gap: 48px;
        }

        &__products {
            width: 100%;
        }

        &__product {
            max-width: 100%;
            width: 100%;

        }

        &__checkout {
            max-width: 100%;
            display: flex;
            flex-direction: row;
            gap: 15px;
        }
    }

    .shipping-address {
        width: 50%;
    }

    .checkout {
        width: 50%;
    }

    .laptop__hide {
        display: none;
    }

    .benefits {
        padding-top: 48px;
        padding-bottom: 64px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 48px;
    }

    .registration {
        &__perks {
            max-width: 354px;
        }
    }

    .perk {

        &__heading,
        &__description,
        &__benefit {
            font-size: 16px;
        }
    }

    .subscribe {
        flex-direction: column;
        padding-top: 54px;
        padding-bottom: 140px;
        background-position: 22%;
        gap: 80px;
    }
}

@media(max-width: 767px) {
    .nav {
        top: 80px;
    }

    .center {
        padding-left: calc(50% - $siteWidthMobile / 2 + 16px);
        padding-right: calc(50% - $siteWidthMobile / 2 + 16px);
    }

    .mobile__hide {
        display: none;
    }

    .breadcrumbs {
        flex-direction: column;
        // padding-top: 24px;
        // padding-bottom: 46px;
        gap: 32px;
    }

    .filter {
        &[open] {
            box-shadow: none;
        }

        &-sort {
            padding-top: 24px;
            height: 100px;
        }

        &__summary {
            padding-left: 0;

            & svg {
                width: 37px;
                height: 25px;
            }
        }

        &__content {
            width: auto;
        }
    }

    .sort {
        gap: 5px;

        &__heading {
            font-size: 12px;
        }
    }

    .marketing {
        padding-top: 148px;
        padding-bottom: 148px;
        justify-content: center;

        &__img {
            display: none;
        }

        &__info {
            &__title {
                font-size: 38px;
            }

            &__subtitle {
                font-size: 20px;
            }
        }
    }

    .offer {
        padding-bottom: 64px;

        &__items {
            &_small {
                flex-direction: column;
                gap: $gapMobile;
            }
        }

        &__item {
            width: calc(($siteWidthMobile - $gapMobile));
        }

    }

    .featured {
        padding-bottom: 96px;

        &__grid {
            padding-top: 64px;
            padding-bottom: 40px;
            gap: 16px;

            &_no-top-padding {
                padding-top: 0;
            }
        }

        &__product {
            width: calc(($siteWidthMobile - $gapMobile));
        }
    }

    .slider {
        padding-top: 85px;
        padding-bottom: 85px;
    }

    .properties {
        &__info {
            top: 0;
            outline: none;
            border-top: 1px solid #EAEAEA;
            border-bottom: 1px solid #EAEAEA;
        }

        &__filter__item {
            font-size: 10px;
        }

        &__subtitle {
            max-width: 304px;
        }

        &__link__line__dark {
            max-width: 175px;
        }
    }

    .benefits {
        padding-bottom: 81px;
        flex-direction: column;
        align-items: center;

        &__item {
            width: calc(($siteWidthMobile - $gapMobile));
        }
    }
    .shopping-cart{
        display: flex;
        flex-direction: column;
        &__buttons{
            padding-bottom: 48px;
        }
        &__button{
            font-size: 12px;
            padding: 9px 17px;
            &_proceed{
                text-align: center;
                padding: 15px 23px;
                font-size: 16px;
            }
        }
    }
    .product{
        &__img{
            max-height: 180px;
        }
        &__info{
            padding: 0;
            padding-left: 17px;
            gap: 4px;
        }
        &__name{
            font-size: 16px;
            margin-bottom: 25px;
            line-height: 19.2px;
        }
        &__description{
            font-size: 14px;
            line-height: 16.8px;
        }
    }

    .button__close {
        top: 2px;
        right: 12px;
        & svg{
            width: 10px;
        }
    }

    .checkout{
        display: flex;
        flex-direction: column;
    }

    .registration{
        flex-direction: column;
        &__notify{
            margin-bottom: 39px;
        }
        &__perks{
            padding-top: 40px;
        }
    }

    .perk{
        font-size: 16px;
        &__heading, &__description, &__benefit{
            font-size: 16px;
            line-height: 19.2px;
        }
    }
    .subscribe {
        padding-bottom: 110px;
        flex-direction: column;
        gap: 59px;
    }

    .testimonial,
    .subscribe__form {
        width: calc($siteWidthMobile - $gapMobile);
    }

    .testimonial {
        &__quote {
            font-size: 18px;
        }
    }

    .subscribe {
        background-position: 10%;

        &__form {
            &__description {
                font-size: 14px;
            }

            &__button {
                padding: 17px;
            }
        }
    }

    .footer {
        flex-direction: column-reverse;
        padding-top: 43px;
        gap: 40px;
    }
}