$siteWidth: 1140px;
$siteWidthLaptop: 768px;
$siteWidthMobile: 375px;
$colorBlack: #222222;
$colorPink: #F16D7F;
$colorPinkBg: #F1E4E6;
$bgWhite: #FFF;
$colorGray: #6F6E6E;
$colorGrayText: #9F9F9F;
$navWidth: 232px;
$gap: 30px;
$gapLaptop: 20px;
$gapMobile: 32px;