@import "vars-full";


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// body{
//     overflow: hidden;
// }
.content {
    overflow: hidden;
    font-family: 'Lato', sans-serif;
}

.center {
    padding-left: calc(50% - $siteWidth / 2);
    padding-right: calc(50% - $siteWidth / 2);
}

a {
    text-decoration: none;
}

input[type=radio]{
    transform: scale(1.3);
}

summary {
    display: block;
}

summary::-webkit-details-marker {
    display: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $colorBlack;
    padding-top: 19px;
    padding-bottom: 19px;
    position: relative;

    &__left {
        display: flex;
        align-items: baseline;
        gap: 41px;
    }

    &__right {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 25px;
    }

    & img {
        cursor: pointer;
    }
}

#hamburger,
#profile,
#cart {
    position: absolute;
    left: -999999px;
    visibility: hidden;

    &:checked~.nav {
        right: -$navWidth;
    }
}

.nav {
    background: $bgWhite;
    width: $navWidth;
    box-shadow: 6px 4px 35px 0px #00000036;
    padding: 33px;
    position: absolute;
    right: 0;
    top: 82px;
    transition: right .3s;
    z-index: 1000;
}

.hamburger {
    &__title {
        margin-bottom: 24px;
    }

    &__main-menu {
        display: flex;
        flex-direction: column;
        gap: 20px;
        list-style-type: none;

        & a {
            text-decoration: none;
        }
    }

    &__menu__heading {
        display: flex;
        flex-direction: column;
        gap: 12px;

    }

    &__subtitle {
        color: $colorPink;
        transition: all .3s;
    }

    &__subtitle:hover {
        color: $colorBlack;
    }

    &__submenu {
        display: flex;
        flex-direction: column;
        gap: 11px;

        &__link {
            list-style-type: none;
            padding-left: 21px;

            & a {
                text-decoration: none;
                color: $colorGray;
                transition: all .3s;
            }

            & a:hover {
                color: $colorPink;
            }
        }
    }

}

.marketing {
    background: $colorPinkBg;
    display: flex;
    align-items: center;
    gap: 63px;

    &__info {
        border-left: 12px solid $colorPink;

        &__title,
        &__subtitle {
            padding-left: 16px;
        }

        &__title {
            color: $colorBlack;
            font-size: 48px;
            font-weight: 900;
        }

        &__subtitle {
            color: $colorBlack;
            font-size: 32px;
            font-weight: 700;

            &__pink {
                color: $colorPink;
            }
        }
    }
}

.offer {
    padding-top: 65px;
    padding-bottom: 161px;

    &__items {
        display: flex;
        flex-direction: column;
        row-gap: $gap;

        &_small {
            display: flex;
            flex-direction: row;
            gap: $gap;
        }

    }

    &__item {
        width: calc(($siteWidth - $gap * 2) / 3);
        position: relative;
        display: flex;


        &__img {
            width: 100%;
        }

        &_big {
            width: 100%;
        }

        &__description {
            position: absolute;
            text-align: center;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

    }

    &__subtitle {
        color: $bgWhite;
        font-size: 16px;
        font-weight: 400;
    }

    &__title a {
        font-size: 24px;
        color: $colorPink;
        text-decoration: none;
        transition: color .3s;

        &:hover {
            color: $bgWhite;
        }
    }

}

.breadcrumbs {
    background: #F8F3F4;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__left__link {
        text-decoration: none;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: $colorPink;
    }

    &__right {

        & ul {
            list-style-type: none;
            display: flex;
            flex-direction: row;
        }

        & li {
            display: flex;
        }

        & li:not(:last-child)::after {
            content: '/';
            padding-left: 8px;
            padding-right: 8px;
            text-decoration: none;
            color: #636363;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }

        & li:last-child .breadcrumbs__right__link {
            color: $colorPink;
            font-weight: 700;
        }

        &__link {
            text-decoration: none;
            color: #636363;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            display: flex;
        }
    }


}



.shopping-cart {
    padding-top: 96px;
    padding-bottom: 128px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__product {
        max-width: 652px;
        box-shadow: 17px 19px 24px 0px #00000021;
        display: flex;
        position: relative;
    }

    &__products {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &__buttons {
        max-width: 652px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__button {
        border: 1px solid #A4A4A4;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        display: inline-block;
        padding: 17px 40px;
        background: transparent;
        transition: all .3s;

        &:hover {
            cursor: pointer;
            border: 1px solid $colorPink;
            color: $bgWhite;
            background: $colorPink;
        }

        &_proceed {
            padding: 15px 43px;
            color: $bgWhite;
            background: $colorPink;
            font-family: Lato;
            font-size: 16px;
            font-weight: 300;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
            border: 1px solid $colorPink;

            &:hover {
                background: $bgWhite;
                color: $colorPink;
            }
        }
    }

    &__checkout {
        width: 100%;
        max-width: 360px;
        display: flex;
        flex-direction: column;
        gap: 57px;
    }
}

.product {


    &__info {
        padding: 22px 97px 62px 31px;
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    &__name {
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 42px;
    }

    &__link {
        color: $colorBlack;
        transition: color .3s;

        &:hover {
            color: $colorPink;
        }
    }

    &__description {
        font-size: 22px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: left;
        display: flex;
    }

    &__price,
    &__color,
    &__size,
    &__counter {
        margin-left: 8px;
    }

    &__price {
        color: $colorPink;
    }

    &__counter {
        margin-left: 24px;
        max-width: 44px;
        text-align: center;
        border: 1px solid #EAEAEA;
        transition: all .3s;

        &:focus-visible {
            border: 1px solid $colorPink;
            outline: none;
        }
    }
}

.button__close {
    border: none;
    position: absolute;
    right: 22px;
    top: 28px;
    cursor: pointer;

    & path {
        transition: fill .3s;
    }

    &:hover path {
        fill: $colorPink;
    }
}

.shipping-address {

    &__form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;

    }

    &__input {
        padding: 14px 17px;
        width: 100%;
        font-size: 13px;
        font-weight: 300;
        line-height: 16px;
        letter-spacing: 0em;
        border: 1px solid #A4A4A4;
        transition: border .3s;

        &:focus-visible {
            outline: none;
            border: 1px solid $colorPink;
        }

        &::placeholder {
            color: #B1B1B1;
        }
    }

    &__button {
        padding: 11px 14px;
        text-align: center;
    }
}

.checkout {
    padding: 40px 43px;
    background: #F5F3F3;

    &__text {
        text-align: right;
    }

    &__subtotal {
        font-size: 11px;
        font-weight: 400;
        line-height: 13px;
        letter-spacing: 0em;
        margin-bottom: 12px;
    }

    &__grandtotal {
        font-size: 16px;
        font-weight: 300;
        line-height: 19px;
        letter-spacing: 0em;
        margin-bottom: 21px;
    }

    &__summ {
        margin-left: 22px;

        &_final {
            font-size: 16px;
            font-weight: 700;
            line-height: 19px;
            letter-spacing: 0em;
            color: $colorPink;

        }
    }


    &__line {
        width: 100%;
        border-bottom: 1px solid #E2E2E2;
        margin-bottom: 17px;
    }
}

.slider {
    position: relative;
    padding-top: 11px;
    padding-bottom: 42px;
    background: #F7F7F7;
    display: flex;
    justify-content: center;

    &__left,
    &__right {
        height: 47px;
        width: 47px;
        cursor: pointer;
        position: absolute;
        background: #D8D8D8;
        display: flex;
        justify-content: center;
        align-items: center;

        & .svg__bg {
            transition: fill .3s;
        }

        &:hover .svg__bg {
            fill: $colorPink;
        }
    }

    &__left {
        left: 0;
        top: 50%;
    }

    &__right {
        right: 0;
        top: 50%;
    }
}

.properties {

    position: relative;
    display: flex;
    justify-content: center;

    &__info {
        padding-top: 64px;
        padding-bottom: 64px;
        background: $bgWhite;
        position: absolute;
        width: $siteWidth;
        outline: 1px solid #EAEAEA;
        z-index: 100;
        top: -65px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__link {
        &__main {
            position: relative;
            text-decoration: none;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            color: $colorPink;
            margin-bottom: 12px;
        }

        &__line {
            border-bottom: 3px solid $colorPink;
            width: 63px;
            margin-bottom: 12px;

            &__dark {
                width: 641px;
                border: 1px solid #EAEAEA;
                margin-bottom: 65px;
            }
        }
    }

    &__heading {
        color: #4D4D4D;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-bottom: 48px;
    }

    &__subtitle {
        max-width: 555px;
        color: #5E5E5E;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-bottom: 32px;
    }

    &__price {
        color: $colorPink;
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-bottom: 65px;
    }

    &__filter {
        &__filter {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 23px;

        }

        &__item {
            color: #6F6E6E;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 48px;

            &::after {
                content: url(./img/arrow.svg);


            }
        }
    }

    &__button {
        border: 1px solid $colorPink;
        padding: 15px 57px 15px 24px;
        color: $colorPink;
        background: transparent;
        font-size: 16px;
        font-family: Lato;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 23px;
        cursor: pointer;
        transition: all .3s;

        &>svg>path {
            transition: all .3s;
        }

        &:hover {
            background: $colorPink;
            color: $bgWhite;
        }

        &:hover>svg>path {
            fill: $bgWhite;
        }

        // &::before{
        //     content: url(./img/cart_pink.svg);
        // }

    }
}

.higer {
    height: 664px;
}

.featured {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 95px;

    &__title,
    &__description {
        text-align: center;
    }

    &__title {
        color: $colorBlack;
        font-size: 30px;
        margin-bottom: 6px;
    }

    &__description {
        color: $colorGrayText;
        font-size: 14px;
    }

    &__grid {
        padding-top: 48px;
        padding-bottom: 48px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: $gap;

        &_no-top-padding {
            padding-top: 0;
        }
    }

    &__product {
        width: calc(($siteWidth - $gap * 2) / 3);
        display: flex;
        flex-direction: column;

        &__wrap {
            position: relative;
        }

        &__image {
            width: 100%;
        }

        &__link {
            // display: block;
            position: relative;
            width: 100%;
        }

        &__info {
            padding: 25px 16px 20px 16px;
            background: #F8F8F8;
        }

        &__name {
            font-size: 13px;
            color: $colorBlack;
            font-weight: 900;
            margin-bottom: 12px;
        }

        &__description {
            color: #5D5D5D;
            font-weight: 300;
            font-size: 14px;
            margin-bottom: 18px;
        }

        &__price {
            color: $colorPink;
        }
    }

    &__button {
        color: $colorPink;
        border: 1px solid $colorPink;
        cursor: pointer;
        text-decoration: none;
        padding: 14px 38px;
        background: $bgWhite;
        transition: all .3s;
        font-size: 14px;

        &:hover {
            color: $bgWhite;
            background: $colorPink;
        }
    }
}

.filter-sort {
    height: 132px;
    position: relative;
    padding-top: 39px;
    display: flex;
    flex-direction: row;
    gap: $gap;
}

.filter {
    padding-top: 13px;
    width: calc(($siteWidth - $gap * 2) / 3);
    cursor: pointer;
    position: relative;


    &__content {
        width: 100%;
        position: absolute;
        z-index: 1;
        padding: 0px 16px 16px 16px;
        background: $bgWhite;
        -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    }

    &[open] {
        background: $bgWhite;
        -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    }

    &[open] .filter__heading {
        color: $colorPink;
    }

    &[open] path {
        fill: $colorPink;
    }


    &__summary {
        padding-left: 16px;
        display: flex;
        align-items: center;
        gap: 11px;
        list-style: none;
    }

    &__heading {
        color: $colorBlack;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    &__item {
        padding-top: 16px;

        &[open] .filter__head {
            color: $colorPink;
        }
    }

    &__head {
        color: $colorBlack;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 8px 11px 11px 11px;
        border-bottom: 1px solid #EBEBEB;
        border-left: 5px solid $colorPink;
    }

    &__link {
        color: #6F6E6E;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        transition: color .3s;

        &-box {
            display: flex;
            flex-direction: column;
            gap: 11px;
            padding: 24px 16px;
        }

        &:hover {
            color: $colorPink;
        }
    }
}

.sort {
    padding-top: 12px;
    display: flex;
    flex-direction: row;
    gap: 18px;
    z-index: 1;

    &__details {
        position: relative;
    }

    &__summary {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 10px;
        cursor: pointer;
    }

    &__heading {
        color: #6F6E6E;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__box {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 8px;
        left: -10px;
        top: 25px;
        background: #FFF;
        -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        padding: 7px 30px 11px 9px;
    }

    &__check {
        display: flex;
        gap: 9px;
        align-items: center;
        color: #6F6E6E;
        font-size: 14px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.pagination {
    padding: 14px 15px;
    border: 1px solid #EBEBEB;
    border-radius: 5px;

    &__links {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 17px;
    }

    &__link {
        font-weight: 300;
        font-size: 16px;
        line-height: 19.2px;
        color: #C4C4C4;
        transition: .3s;

        &:hover {
            color: $colorPink;
        }

        &_current {
            color: $colorPink;
        }
    }
}

.overlay__button {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(58, 56, 56, 0.86);
    opacity: 0;
    transition: all .3s;

    &:hover {
        opacity: 1;
    }

    &__text {
        border: 1px solid $bgWhite;
        color: $bgWhite;
        font-size: 14px;
        padding: 9px 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .3s;

        &::before {
            content: url(./img/cart.svg);
            margin-right: 11px;
        }
    }

}

.benefits {
    background: $colorBlack;
    padding-top: 104px;
    padding-bottom: 104px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: $gap;

    &__item {
        width: calc(($siteWidth - $gap * 2) / 3);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    &__img {
        margin-bottom: 28px;
    }

    &__title {
        margin-bottom: 16px;
        color: $bgWhite;
        font-size: 20px;
    }

    &__subtitle {
        font-size: 14px;
        font-weight: 300;
        line-height: normal;
        color: #FBFBFB;
    }
}

.registration {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 96px;

    &__form {
        max-width: 360px;
    }

    &__heading {
        font-size: 16px;
        font-weight: 300;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;

    }

    &__gender {
        display: flex;
        gap: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    &__perks {
        max-width: 650px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__notify {
        font-size: 13px;
        font-weight: 300;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        color: #B1B1B1;
    }
    &__button{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        & path{
            transition: fill .3s;
        }
        &:hover path{
            fill: $colorPink;
        }
    }
}

.gender {
    &__radio {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    &__name {
        font-size: 11px;
        font-weight: 300;
        line-height: 13px;
        letter-spacing: 0em;
        text-align: left;
        color: $colorBlack;
    }
}

.perk {
    &__heading {
        font-size: 24px;
        font-weight: 300;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: left;
        color: $colorBlack;
    }

    &__benefits {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__description {
        font-size: 24px;
        font-weight: 300;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: left;
        color: $colorBlack;
    }

    &__benefit {
        font-size: 24px;
        font-weight: 300;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: left;
        color: $colorBlack;

        &::before {
            content: url(../img/check.svg);
            margin-right: 22px;
        }
    }
}

.testimonial {
    width: calc(($siteWidth - $gap * 2) / 3);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &__img {
        border-radius: 50%;
        margin-bottom: 30px;
    }

    &__quote {
        font-size: 20px;
    }
}

.subscribe {
    background: url(../img/subscribe_bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 86px;
    padding-bottom: 126px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__form {
        width: calc(($siteWidth - $gap * 2) / 3);
        text-align: center;

        // display: flex;
        // flex-direction: column;
        &__heading {
            font-weight: 700;
            font-size: 24px;
            line-height: 167%;
        }

        &__description {
            display: block;
            font-size: 18px;
            margin-bottom: 32px;
        }

        &__email-label {
            margin-bottom: 32px;
        }

        &__buttons {
            display: flex;
        }

        &__button {
            padding: 19px;
            border: none;
            display: inline-block;

            &-email {
                width: 100%;
                font-size: 14px;
                font-family: Lato;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                border-top-left-radius: 50px;
                border-bottom-left-radius: 50px;
                background-color: #E1E1E1;
                border: 1px solid transparent;
                box-sizing: border-box;
                transition: border .3s;

                &:focus {
                    outline: none;
                    border: 1px solid $colorPink;
                }
            }

            &-submit {
                border: 1px solid transparent;
                background: $colorPink;
                color: $bgWhite;
                font-size: 14px;
                font-family: Lato;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                border-top-right-radius: 50px;
                border-bottom-right-radius: 50px;
                box-sizing: border-box;
                cursor: pointer;
            }
        }

    }
}

.footer {
    background: $colorBlack;
    padding-top: 23px;
    padding-bottom: 23px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__corporate {
        color: #FBFBFB;
        font-size: 16px;
        font-family: Lato;
        font-weight: 400;
        line-height: normal;
    }

    &__link {
        text-decoration: none;
        transition: color .3s;
        color: #FBFBFB;
        font-size: 16px;
        font-family: Lato;
        font-weight: 400;

        &:hover {
            color: $colorPink;
        }
    }

    &__social__links {
        display: flex;

        & a:nth-last-child(n+2) {
            margin-right: 7px;
        }
    }

    &__social__link {
        &>svg>path {
            transition: fill .3s;
        }

        &:hover {
            & .svg__bg {
                fill: $colorPink;
            }

            & .svg__img {
                fill: $bgWhite;
            }
        }
    }

}

@import "media";